.intro {
  width: 100%;
  font-size: 1.5rem;
  height: 100vh;
  background-color: #c9d6df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .self {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 3rem;
      color: #52616b;
      font-weight: 500s;
    }
    .cover {
      margin-top: 5px;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h4 {
      padding: 5px;
      width: 500px;
    }
    .scrollDown {
      font-weight: 700;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 0;
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .intro {
    .self {
      .title {
      }
      .cover {
        width: 250px;
        height: 250px;
        img {
        }
      }
      h4 {
        width: 400px;
      }
      .scrollDown {
        p {
          margin: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .intro {
    .self {
      .title {
        font-size: 2rem;
      }
      .cover {
        width: 200px;
        height: 200px;
        img {
        }
      }
      h4 {
        width: 300px;
        font-size: 1rem;
      }
      .scrollDown {
        font-size: 1rem;
        p {
          margin: 0;
        }
      }
    }
  }
}
