.Header {
  z-index: 3;
  border-right: 1px solid #c9d6df4c;
  font-family: 'Ubuntu', sans-serif;
  background-color: #c9d6dfbc;
  color: White;
  min-width: 10%;
  width: 330px;
  position: fixed;
  top: 0px;
  height: 100%;
  overflow: hidden;

  .menu {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;

    a {
      font-weight: 500;
      font-size: 2.25rem;
      list-style-type: none;
      text-decoration: none;
      color: #52616b;
      .moreIcon {
        margin-left: 25px;
        padding-top: 5px;
      }
    }
    .subcat {
      font-size: 1.5rem;
      display: none;
      color: #52616b;
      padding-left: 10px;
    }
  }
}
.categoryBar {
  z-index: 4;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: calc((100vh - 5rem) / 2);
  font-size: 5.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
  .backIcon {
  }
  .nextIcon {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
